<ng-container>
    <button (click)="get500Errors()" class="btn btn-outline-primary"style="margin-right: 3px;">Test 500 errors</button>
    <button (click)="get400Errors()" class="btn btn-outline-primary" style="margin-right: 3px;">test 400 errors</button>
    <button (click)="get404Errors()" class="btn btn-outline-primary" style="margin-right: 3px;">test 404 errors</button>
    <button (click)="get401Errors()" class="btn btn-outline-primary" style="margin-right: 3px;">test 401 errors</button>
    <button (click)="get400ValidationErrors()" class="btn btn-outline-primary" style="margin-right: 3px;">test 400 validations errors</button>
   
    <div class="row mt-5" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
         <li *ngFor="let error of validationErrors">
            {{error}}
         </li>
      </ul>
    </div>

</ng-container>
