

.logout{
    margin-left: 5px;
}

.username{
    
    min-width: 200px
}

.password{
   
   min-width: 200px
}

form{
    position: fixed;
    margin-left: 680px;
}

.text-light{
    cursor: pointer;
}

img{
    max-height: 50px;
    border:2px solid #fff;
    display: inline;
    margin-right: 2px;
}





